<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Entities
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item button routerLink="driverses" class="ion-text-capitalize">
    driverses
  </ion-item>
  
  <ion-item button routerLink="rifters" class="ion-text-capitalize">
    rifters
  </ion-item>
  
  <ion-item button routerLink="rifts" class="ion-text-capitalize">
    rIFTs
  </ion-item>
  
</ion-content>

